@{
    ViewData["Title"] = "Relatorios";
}

<h1>Relatorios</h1>

<h4>Paciente: @ViewBag.Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/prevencao.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Prevenção</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Relatorios" asp-action="Prevencao" asp-route-id="@ViewBag.PacienteId" class="btn btn-primary">Abrir Relatorio</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/progresso.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Progresso</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Relatorios" asp-action="Progresso" asp-route-id="@ViewBag.PacienteId" class="btn btn-primary">Abrir Relatorio</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/analiseatual.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Análise Atual</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Relatorios" asp-action="AnaliseAtual" asp-route-id="@ViewBag.PacienteId" class="btn btn-primary">Abrir Relatorio</a>
            </div>
        </div>
    </div>
</div>