
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Contrato</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" id="bootstrap-css" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div id="contrato">
        <h3 class="text-center text-primary pt-5">Contrato</h3>
        <br>
        <div class="container text-justify">
            <p class="text-center"><strong>ACORDO DE LICENÇA DE USUÁRIO FINAL PARA SOFTWARE BIOEASY ANALYSYS</strong></p>
            <p>
                IMPORTANTE - LEIA ATENTAMENTE: Este contrato de licença de usuário final (&quot;EULA&quot;) é um
                contrato legal entre você (como pessoa física ou jurídica) e o fabricante do sistema de
                software que você adquiriu juntamente com o (s) PRODUTO (S) DE SOFTWARE – BIOEASY
                ANALYSIS PRO devidamente registrado no INPI sob os termos vigentes deste contrato.
                O PRODUTO DE SOFTWARE contém software de computador, a mídia associada, material
                impresso e documentação &#39;on-line&#39; ou eletrônica. Todo o software fornecido, contém um
                contrato de licença de usuário final separado, deve ser licenciado de acordo com os termos e
                condições deste contrato de licença. Ao instalar, copiar, fazer download, acessar ou usar o
                software de qualquer outra maneira, você concorda em ficar vinculado aos termos e condições
                do EULA
                Se você não concordar com os termos e condições estabelecidos neste contrato, os
                fabricantes, não estarão preparados para licenciar o PRODUTO DE SOFTWARE para você.
                Nesse caso, você não terá direito de usar o PRODUTO DE SOFTWARE BIOEASY ANALYSIS PRO.
            </p>
            <p class="text-center"><strong class="text-center">LICENÇA DE PRODUTO DE SOFTWARE</strong></p>
            <p>
                O PRODUTO DE SOFTWARE é protegido por leis de direitos autorais e acordos internacionais
                de direitos autorais e por outra legislação e acordos relacionados à propriedade intelectual. O
                produto SOFTWARE poderá ser licenciado ou vendido, nesse último caso, o cliente não possui
                direitos de atualização do produto ou mesmo qualquer direito sobre o código fonte ou
                informações legais de desenvolvimento do produto. A compra é feita apenas para o cliente
                final usufruir do produto nas condições para o qual ele foi desenvolvido.
            </p>
            <p>
                1. CONCESSÃO DE UMA LICENÇA: Os seguintes direitos são concedidos com base neste
                CONTRATO:
                Uso do software. Salvo disposição em contrário neste EULA, você terá o direito de usar,
                executar, acessar uma cópia do PRODUTO DE SOFTWARE ou interagir com ele de qualquer
                outra maneira (&quot;EXECUTAR&quot;). O PRODUTO DE SOFTWARE não pode ser instalado, exibido,
                executado, utilizado em conjunto ou empregado em ou por computadores diferentes,
                incluindo estações de trabalho, terminais ou outros dispositivos digitais. O acesso simultâneo
                ao PRODUTO DE SOFTWARE por vários dispositivos desse tipo também não é permitido.
                - Cópia de segurança. Se o fabricante não anexou uma cópia de backup do PRODUTO DE
                SOFTWARE, você poderá fazer uma única cópia de backup do elemento do software de
                computador do PRODUTO DE SOFTWARE. Essa cópia de backup deve ser usada apenas para
                fins de arquivamento. Programa de ligação de dados. A menos que expressamente permitido
                neste CONTRATO, você não poderá fazer outras cópias do PRODUTO DE SOFTWARE ou do
                material impresso que acompanha o PRODUTO DE SOFTWARE.
            </p>
            <p>
                2. OUTROS DIREITOS E RESTRIÇÕES
                - Restrições à engenharia reversa, descompilação e desmontagem. Você não terá o direito de
                fazer engenharia reversa, descompilar ou desmontar o PRODUTO DE SOFTWARE, a menos e na
                medida em que a lei aplicável, independentemente dessa restrição, o permita expressamente.
                - Separação de componentes. O PRODUTO DE SOFTWARE é licenciado como um produto
                padrão. Você não terá direito de separar seus componentes para uso em mais de um
                computador.
                - Locação. Você não terá direito a alugar, arrendar ou emprestar o PRODUTO DE SOFTWARE,
                BEM COMO FAZER COPIAS E O DISTRIBUIR GRATUITAMENTE OU FINANCEIRAMENTE, O QUE
                CABERÁ PENA MEDIANTE OS TERMOS DESTE CONTRATO.
                - Transferência do produto de software. Você terá o direito de ceder todos os seus direitos
                decorrentes deste EULA permanentemente, desde que a cessão faça parte da venda ou
                transferência do HARDWARE. Você não deve manter nenhuma cópia. Você deve atribuir o
                PRODUTO DE SOFTWARE em sua totalidade (incluindo todos os componentes, mídia e material
                impresso, todas as atualizações, este EULA e, onde aplicável, certificados de autenticidade) e o
                destinatário deve concordar com os termos e condições deste EULA. Se o SOFTWARE
                PRODUCT for uma atualização, cada atribuição deverá incluir todas as versões anteriores do
                SOFTWARE PRODUCT.
                - Terminação. Independentemente de outros direitos, o fabricante terá o direito de rescindir
                seus direitos decorrentes deste EULA se você violar qualquer um dos termos e condições deste
                EULA. Nesse caso, você será obrigado a destruir todas as cópias do PRODUTO DE SOFTWARE e
                seus componentes.
                - Marcas registradas. Este EULA não garante direitos em conjunto com marcas comerciais ou
                marcas de serviço pertencentes ao fabricante, ADORO ELETRÔNICOS ou seus fornecedores.
                3. DIREITO DE DIREITOS AUTORAIS. Todos os direitos e direitos de propriedade intelectual do
                PRODUTO DE SOFTWARE (incluindo, entre outros, imagens, fotografias, animações, vídeo,
                áudio, música, texto e applets contidos no PRODUTO DE SOFTWARE), o material de
                acompanhamento impresso e cada cópia do PRODUTO DE SOFTWARE pertence à ADORO
                ELETRONICOS ou a seus fornecedores. Todos os direitos e direitos de propriedade intelectual
                do conteúdo, que não estão incluídos no PRODUTO DE SOFTWARE, mas que podem ser
                acessados ​​com a ajuda do PRODUTO DE SOFTWARE, são produtos pertencentes ao respectivo
                proprietário do conteúdo e podem ser protegidos pela legislação de direitos autorais ou outros
                atos e acordos relacionados à propriedade intelectual. Este EULA não concede a você o direito
                de usar esse conteúdo. O uso de serviços on-line, que podem ser acessados ​​com a ajuda do
                PRODUTO DE SOFTWARE, estará sujeito aos seus respectivos termos e condições de uso. Se
                este PRODUTO DE SOFTWARE contiver documentação, fornecida apenas em formato
                eletrônico, você poderá imprimir uma cópia dessa documentação eletrônica. Você não terá o
                direito de copiar o material impresso fornecido com o PRODUTO DE SOFTWARE. O fabricante
                deve reservar todos os direitos não expressamente concedidos a você sob este EULA.
            </p>
            <p>
                4. SUPORTE AO PRODUTO. Para receber suporte do produto, envie um e-mail para o fabricante
                no endereço fornecido na documentação.
            </p>
            <p>
                5. RESTRIÇÕES À EXPORTAÇÃO. Você confirma que não exportará ou reexportará o PRODUTO
                DE SOFTWARE, parte do produto, processo ou serviço, que é um resultado direto do PRODUTO
                DE SOFTWARE (o referido acima coletivamente como &#39;componentes restritos&#39;) para qualquer
                país ou país. envie-os a uma pessoa física ou jurídica por meio de exportação ou reexportação.
            </p>
            <p>
                6. Este software não representa uma consulta médica. Todas as recomendações não são
                vinculativas, mas meramente informativas.
                ADORO ELETRÔNICOS, não se responsabiliza em caso de não conformidade ou ocorrência de
                problemas de saúde ou mesmo resultados advindos de equipamentos (balanças) descalibradas
                ou mesmo resultados não condizentes. O produto de Software é apenas uma “visualização” do
                que é mostrado no equipamento que o cliente usar, cabendo a este a total responsabilidade
                pela manutenção e preventiva do equipamento a fim de gerar resultados precisos e confiáveis.
                7. O software será executado por sua conta e risco; nenhuma responsabilidade será aceita por
                danos ou danos indiretos, em particular, déficit de vendas, perda de dados e custos de reparo
                resultantes da instalação ou mesmo uso.
                8. A Adoro Eletrônicos tem por direito em qualquer momento suspender o link de acesso ao
                Software, cabendo ao cliente que usar, baixar e manter o arquivo em seu computador, ou
                qualquer outra mídia a fim de preservar o arquivo de uso. Não cabe a Adoro Eletrônicos
                manter online a copia ou arquivo para o cliente baixar em momento posterior. Tal prazo
                poderá ser estendido até por 30 dias após o envio do primeiro e-mail contendo os arquivos de
                instalação e uso. A partir deste prazo corrido a empresa Adoro Eletrônicos não mais tem a
                obrigatoriedade em manter os arquivos online. A definição “ilimitado” se deve ao fato do
                usuário poder cadastrar quantos pacientes quiser em sua base de dados, limitando-se apenas
                ao espaço disponível em seu disco rígido, ao qual o Software BioEasy Analysis será usado.
            </p>
            <p>
                INFORMAÇÕES IMPORTANTES SOBRE PRIVACIDADE:
                O software BIOEASY ANALYSIS é usado para armazenar, exibir e avaliar dados de medição de
                parâmetros vitais, de preferência das BALANÇAS de análise corporal dos pacientes pelo
                usuário do software. A avaliação dos resultados da medição requer o armazenamento do ano
                de nascimento e sexo. Todos os outros campos de entrada para armazenar informações sobre
                o paciente, que permitem conclusões sobre o paciente, são opcionais. No entanto, eles só
                devem ser coletados e armazenados de acordo com a política de privacidade aplicável ao
                usuário do Software BIOEASY ANALYSIS e com o consentimento do paciente.
                A proteção de dados deve ser garantida por uma restrição de acesso protegida por senha ao
                acessar o banco de dados pelo administrador responsável. O administrador do sistema de TI
                responsável deve tomar medidas apropriadas contra malware (vírus, Trojans, spyware, etc.)
                não cabendo a Adoro Eletrônicos, quaisquer responsabilidades por uso indevido ou mesmo
                problemas advindos pelo uso errôneo do sistema operacional.
            </p>
            <p>
                Fabricante:
                <br>
                ADORO ELETRÔNICOS
                <br>
                E-mail: adoroeletronicossp@gmail.com
                <br>
            </p>
            <div>
                <a asp-action="Aceito" class="btn btn-primary btn-md float-right">Aceito os Termos</a>
                <a asp-action="SignOut" class="btn btn-light btn-md float-right">Não Aceito</a>
            </div>
        </div>
    </div>
</body>
</html>
